* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.menu {
    background-color: oklch(82.8% 0.189 84.429);
    width: 100%;
    display: flex;  
    justify-content: space-between;
    padding: 20px;
}

.menu ul li {
    margin-right: 25px;
}

.inicio {
    min-height: 700px;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-image: url(fundo.jpg);
    background-size: cover;
}

.textoCardInicio {
    display: flex;
    flex-direction: column;
}


.cardInicio img {
    max-width: 250px;
    max-height: 250px;

}

a  {
    text-decoration: none;
    color: black;  
}


.cardInicio {
    background-color: oklch(92% 0.004 286.32);
    max-width: 40%;
    max-height: 30%;
    display: flex;
    flex-direction: row;
    padding: 15px;
    gap: 15px;
}

.textoInicio2 {
    display: flex;
    flex-direction: column;
}


.cardInicio2 {
    background-color: oklch(92% 0.004 286.32);
    max-width: 40%;
    max-height: 30%;
    display: flex;
    flex-direction: row;
    padding: 15px;
    gap: 15px;
}

.cardInicio2 img {
    max-width: 250px;
    max-height: 250px;

}

.textoCardInicio p {
    font-size: 18px;
}

.textoCardInicio h3 {
    font-size: 22px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.textoInicio2 a {
    font-size: 18px;
}

.textoInicio2 h3 {
    font-size: 22px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}